

.gradiente{
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

.webapp{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat{
    width: 80%;
    margin: 0 auto;
    background-color: #E9EAED;
    height: 80%;
    display: flex;
}

#chat-sx,
#chat-dx{
    border: 1px solid black;
    height: 100%;
}

#chat-sx{
    width: 30%;
}

#chat-dx{
    width: 70%;
}

.header-chat{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-chat .avatar img{
    border-radius: 50%;
    max-width: 50px;
    margin-right: 20px;
}

.avatar-icons i{
    margin: 0 10px;
    color: #B0B1B3;
}

.avatar-icons i:last-child{
    margin-right: 0;
} 

#chat-notifiche{
    background-color: #99DAFD;
    padding: 10PX;
    display: flex;
    align-items: center;
}

#chat-notifiche i{
    color: #99DAFD;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}

#chat-search{
    padding: 10px;
}


#chat-search div input{
    padding-left: 32px;
    width: 100%;
}



#chat-search div i{
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}


#chat-contacts div{
    padding: 6px;
}

#chat-contacts div:hover{
    background-color: #B0B1B3;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#chat-contacts div img{
    max-width: 30px;
    border-radius: 50%;

}