

.gradiente{
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

.webapp{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 80%;
    display: flex;
}

#chat-sx,
#chat-dx{
    border: 1px solid black;
    height: 100%;
}

#chat-sx{
    width: 30%;
}

#chat-dx{
    width: 70%;
}

.header-chat{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-chat .avatar img{
    border-radius: 50%;
    max-width: 50px;
    margin-right: 20px;
}

.avatar-icons i{
    margin: 0 10px;
}

.avatar-icons i:last-child{
    margin-right: 0;
} 